@model Practice.Client.Person
@{
    Layout = "_LayoutAuthorize";
}

<div>
    <form method="post">
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" name="email" required/>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Authorize">
        </div>
    </form>
    <div>
        <a class="align-self-center" asp-area="" asp-controller="Home" asp-action="Registration">Doesn't have an account?</a>
    </div>
</div>