@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row align-items-center">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Buy</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Buy any product you want</h6>
                    <a class="card-link" asp-controller="Home" asp-action="Shopping">Proceed</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Expenses</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">You can see your expenses</h6>
                    <a class="card-link" asp-controller="Report" asp-action="Index">Proceed</a>
                </div>
            </div>
        </div>
    </div>
</div>