@model List<Practice.Client.Product>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Покупка товаров</title>
</head>
<body>
    <div>
        <h3>Товары в категориях: машины, наушники. </h3>
        <table>
            @foreach (var product in Model) {
                <tr>
                    <td><p>@product.Id</p></td>
                    <td><p>@product.Name</p></td>
                    <td><p>@product.Price</p></td>
                    <td><p>@product.Category</p></td>
                </tr>
            }
        </table>
    </div>
</body>
