@model ShopMVC.Models.SomeModel

@{
    ViewData["Title"] = "Report Page";
}

<div class="text-center">
    <table class="table">
        <thead>
        <th><p>Id</p></th>
        <th><p>Name</p></th>
        <th><p>Email</p></th>
        <th><p>Count</p></th>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                foreach (var person in Model.Persons)
                {
                    if (order.PersonId == person.Id)
                    {
                        <tr>
                            <td><p>@person.Id</p></td>
                            <td><p>@person.Name</p></td>
                            <td><p>@person.Email</p></td>
                            <td>@Html.ActionLink("Show", "Show", new { id = order.Id })</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>

</div>