@model ( List<Practice.Client.Order> Order, List<Practice.Client.Person> Person)

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Report Page";
    var orders = Model.Order;
    var persons = Model.Person;
}

<div class="text-center">
    <table class="table">
        <thead>
        <th><p>Id</p></th>
        <th><p>Name</p></th>
        <th><p>Email</p></th>
        <th><p>Count</p></th>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var order in orders)
                {
                    foreach (var person in persons)
                    {
                        if (order.PersonId == person.Id)
                        {
                            <tr>
                                <td><p>@i</p></td>
                                <td><p>@person.Name</p></td>
                                <td><p>@person.Email</p></td>
                                <td>@Html.ActionLink("Show", "Show", new { id = order.Id })</td>
                            </tr>
                            i++;
                        }
                    }

                }
            }
            
        </tbody>
    </table>

</div>