@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Admin Page";
}

<div>
    <div class="row align-items-center">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Person</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Add users to your site blin uzhe</h6>
                    <a class="card-link" asp-controller="Admin" asp-action="PersonAdd">Proceed</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Product</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Add products to your site blin uzhe</h6>
                    <a class="card-link" asp-controller="Product" asp-action="Create">Proceed</a>
                </div>
            </div>
        </div>
    </div>
</div>